:root {
  --white: #ffffff;
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
}

body {
  font-family: 'Open Sans', sans-serif !important;
  background: var(--white) !important;
  color: var(--mainDark) !important;
  font-weight: 400 !important;
  line-height: 1.6 !important;
}

.text-title {
  font-family: 'Lato', sans-serif;
  letter-spacing: .3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

.nav-link {
  font-size: 1.3rem !important;
}
